<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /recipesManager/public/
    
    # Serve existing files directly
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]
    
    # Serve directories with index.html if exists
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    # Deny direct PHP access
    RewriteRule ^\.php$ - [F,L]
</IfModule>
